body{
    background: rgb(4,255,253);
    background: -webkit-linear-gradient(90deg, rgba(4,255,253,1) 0%, rgba(181,56,238,1) 49%, rgba(255,126,126,1) 100%);
    background: linear-gradient(90deg, rgba(4,255,253,1) 0%, rgba(181,56,238,1) 49%, rgba(255,126,126,1) 100%);
}

#description{
    resize: none;
}

.image-container {
    max-width: 5px;
    max-height: 2px;
  }

.centrado {
    text-align: center;
    vertical-align: middle;
}

